:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333;
    --debug-bg-color: rgba(255, 0, 0, 0.5);
    --skeu-background: #c0c0c0;
    --skeu-shadow: #a9a9a9;
    --skeu-dark1: #808080;
    --skeu-dark2: #696969;
    --skeu-dark3: #505050;
    --skeu-dark4: #363636;
    --skeu-dark5: #1c1c1c;
    --skeu-dark6: #000000;
    --skeu-light: #ffffff;

}
%debug {
    background-color: var(--debug-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
}

%full-height {
    height: 100vh;
}
%flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%no-border {
    border: none !important;
}


@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top * 1rem;
    padding-right: $right * 1rem;
    padding-bottom: $bottom * 1rem;
    padding-left: $left * 1rem;
}

@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top * 1rem;
    margin-right: $right * 1rem;
    margin-bottom: $bottom * 1rem;
    margin-left: $left * 1rem;
}

@mixin witdh($width){
    width : $width !important;
}
@mixin height($height){
    height : $height !important;
}
@mixin font-size($unit){
font-size: 1em * $unit;
}

html {

    @extend %full-height;
}
body{
    background-color: var(--skeu-dark5);
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: var(--skeu-dark5);
    border-radius: 10px;
    @extend %full-height;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
  

    &:before {
        // content: " ";
        // background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDEyIDEyIj4KPHBhdGggZD0iTTEuNSAxTDYuIDUuNUwxLjUgMTBWOC41TDcuNSA1LjUgTDEuNSAxWiIgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
        // background-repeat: no-repeat;
        // background-position: center;
        // @extend %debug;
    }
    &:after {
        content: "";
    }
    &-item {
        $unit : 0.5;
        @extend %flex-align-center;
        @include margin($unit, $unit, $unit, $unit);
        border-radius: 10px;
        background-color: var(--skeu-dark5);
        color: var(--main-text-color);
        @include padding($unit, $unit, $unit, $unit);
        font-size: 30px;
        text-align: center;
        box-shadow: 3px 3px 5px var(--skeu-dark4), -3px -3px 5px var(--skeu-dark4);
    }
    &-item{
        button {
            background-color: red;
            @include witdh(100%);
            @include height(100%);
            @extend %no-border;
            &:after{
                content: "\ea17";
                display: block;
                font-family: 'icomoon' !important;
                @include font-size(3);
            }
        }
    }
}

